{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier", "react", "jsx-a11y", "import", "react-native"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": ["error", { "ignore": ["navigation", "style", "children", "testID"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-unresolved": 0,
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "no-console": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "camelcase": "off",
    "semi": ["warn"]
  },
  "env": {
    "jest": true
  }
}
